@font-face {
	src: url('./fonts/DINRoundPro/DinRoundPro.woff2') format('woff2');
	font-family: 'DINRoundPro';
	font-weight: 400;
	font-style: normal;
}

@font-face {
	src: url('./fonts/DINRoundPro/DINRoundPro-Medi.woff2') format('woff2');
	font-family: 'DINRoundPro';
	font-weight: 500;
	font-style: normal;
}

@font-face {
	src: url('./fonts/DINRoundPro/DinRoundPro-Bold.woff2') format('woff2');
	font-family: 'DINRoundPro';
	font-weight: bold;
	font-style: normal;
}

@font-face {
	src: url('./fonts/ProximaNova/proximanova_regular.ttf') format('truetype');
	font-family: 'ProximaNova';
	font-weight: 400;
	font-style: normal;
}

@font-face {
	src: url('./fonts/ProximaNova/proximanova_bold.otf') format('opentype');
	font-family: 'ProximaNova';
	font-weight: bold;
	font-style: normal;
}
